In [1]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        continue
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") # for short hand conditions need both if and else statements
print('outside the loop')

0
Next number should be  1
1
Next number should be  2
2
Next number should be  3
3
4
Next number should be  5
5
loop's end
outside the loop

In [2]:
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}
for key in person:
    if key == 'skills':
        for skill in person['skills']:
            print(skill)

JavaScript
React
Node
MongoDB
Python

In [8]:
# Iterate 0 to 10 using for loop, do the same using while loop.
for i in range(11):
    print(i)
count = 0
while count <= 10:
    print(count)
    count = count + 1
# Iterate 10 to 0 using for loop, do the same using while loop.
for i in range(10,0,-1):
    print(i)
count = 10
while count >= 0:
    print(count)
    count = count - 1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
10
9
8
7
6
5
4
3
2
1
0

In [16]:
for i in range(1,8):
    i = '#' * i
    print(i)

#
##
###
####
#####
######
#######

In [17]:
for i in range(7):
    for j in range(7):
        print('#',end=' ')
    print('')

# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #
# # # # # # #

In [22]:
for i in range(11):
   a = i * i
   print(i, '*',i,'=',a)

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [23]:
# Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.


list_items =  ['Python', 'Numpy','Pandas','Django', 'Flask']
for item in list_items:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [31]:
# Use for loop to iterate from 0 to 100 and print only even numbers

for i in list(range(101)):
    if  i % 2 == 0:
      
       print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [32]:
for i in list(range(101)):
    if  i % 2 != 0:
      
       print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [43]:
sum_num = 0
for i in range(101):
   sum_num= sum_num+ i
print('The sum of all numbers is',sum_num)

The sum of all numbers is 5050